<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Secure Login-System-2022. Developed By Mohi007</span>
        <a style="text-decoration:none;" href="mailto: mohibdrs@gmail.com" target="blank" rel="noreferrer">Contact</a>
    </div>
</footer>